Port ${port}
PermitRootLogin no
AllowGroups ${join(" ", users)}
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthenticationMethods publickey
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
